<div class="todo" id="<%= todo._id %>">
  <h2><%= todo.title %></h2>
  <p><%= todo.description %></p>
<!-- <button class="btn btn-primary update-todo">Update</button> -->
  <button class="btn btn-danger delete-todo">Delete</button>
</div>