<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Document</title>

  <link rel="stylesheet" href="styles.css">

  <script src="simple-client.js"></script>
</head>

  <body>
    <div class="container">
      <div class="content">
        <div class="todo-container">
          <form action="/todos" id="create-todo">
            <input type="text" name="title" placeholder="Your task">
            <input type="text" name="description" placeholder="Explain it">
            <input type="submit" value="Create Task">
          </form>
          <% if (todos) { todos.forEach(function(todo) { %>
            <% include ./_todo %>
          <% }); } %>
        </div>
      </div>
    </div>

  </body>
</html>